<div class="container">
    <div class="jumbotron">
  <h1 class="display-4">Wellcome to Household Optimizer</h1>
  <p class="lead">This is a simple web app that allows you to track inventory of essentials in your household, make shopping lists and assign task shores.</p>
  <a class="btn btn-primary btn-lg" href="{{url}}" role="button">Get started</a>
</div>
</div>