<div id="home" style="margin-top: 5%;">
  <div class="container">
    <div class="row">
        <div class="jumbotron">
          <h1 class="display-4 d-flex justify-content-center">Welcome to household optimizer</h1>
              <hr>
          <p class="lead">This is a simple web app that allows you to track inventory of essentials in your household, and create shopping lists of items running low.</p>
          <a class="btn btn-primary btn-lg" href="{{urlLogin}}" role="button">Login</a>
          <a class="btn btn-primary btn-lg" href="{{urlSignUp}}" role="button">Sign Up</a>
      </div>      
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
