<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
          <div class="col-8 offset-2">
            <div class="card mt-4">
              <div class="card-body">
                <h1 class="card-title">Inventory in home</h1>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Minimum Quantity</th>
                    <th>Price</th>
                    <th>Vendor</th>
                  </tr>
                </thead>
                <p>
                  <strong>ID</strong>: {{dbGetInventory.id}}
                  <strong>Item</strong>: {{dbGetInventory.itemName}}
                  <button>View Item Details</button></p>
                  <a href="/">← Back To Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>


</body>
</html>