<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title">Inventory in home</h1>
          <p>
            <strong>ID</strong>: {{inv.id}}
            <strong>Item</strong>: {{inv.itemName}}
            <button data-id="{{inv.id}}" class="view-details">View Item Details</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>