<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title">Inventory in home</h1>
          {{#each inv}}
          <p>
            <strong>ID</strong>: {{id}}
            <strong>Item</strong>: {{itemName}}
            <button data-id="{{id}}" class="view-details">View Item Details</button>
             {{!-- <a class="btn btn-primary btn-lg" href="{{urlLogin}}" role="button">Login</a> --}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>