<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="card-title">Item Details</h1>
                        <p>
                            <strong>ID</strong>: {{dbGetInventory.id}}</p>
                        <p>
                            <strong>Item:</strong> {{dbGetInventory.itemName}}</p>
                        <p>
                            <strong>Category</strong>: {{dbGetInventory.categoryName}}</p>
                        <p>
                            <strong>Quantity</strong>: {{dbGetInventory.quantity}}</p>
                        <p>
                            <strong>Replenish</strong>: {{dbGetInventory.replenishFlag}}</p>
                        <p>
                            <strong>Price</strong>: {{dbGetInventory.price}}</p>
                        <p>
                            <strong>Supplier</strong>: {{dbGetInventory.supplierName}}</p>
    
    
                        <a href="/">← Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>