<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <img src="./img/logo.png" alt="Easy household inventory management" width="200px"/>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">            
                <form class="user-login">
                    <div class="form-group">
                        <label for="user-name" >User Name:</label>
                        <input id="user-name" name="user-name" type="text" class="form-control" placeholder="User Name"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Type your password:</label>
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Login</button>
                    <a href="/" class="btn btn-primary btn-sm" alt="Back to main menu">Back to Main</a>
                </form>
                <p>Not a user? sign up <a href="/">here</a></p>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>