<div id="home" style="margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="display-4 d-flex justify-content-center">New Inventory Item</h1>
                <div class="d-flex justify-content-center">
                    <img src="./img/logo.png" alt="Easy household inventory management" width="300px" />
                </div>
                <hr>
                <p class="lead">Add new item to inventory by filling the fields listed below.</p>
                <p class="lead">Item Category</p>
                <select class="form-control">
                    <option>Groceries</option>
                    <option>Household Items</option>
                    <option>Cleaning Products</option>
                </select>
                <br>
                <p class="lead">Item Name</p>
                <input class="form-control" type="text" placeholder="ex: Diapers">
                <br>
                <p class="lead">Quantity</p>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
                <br>
                <p class="lead">Replenish Flag</p>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
                <br>
                <p class="lead">Price</p>
                <input class="form-control" type="text" placeholder="ex: $7.50">
                <br>
                <p class="lead">Vendor</p>
                <input class="form-control" type="text" placeholder="ex: Target">
                <br>
                <a class="btn btn-primary btn-lg btn-block" href="{{urladdNew}}" role="button">Add</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>