<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="container">
        <div class="wrapper">
            <div class="row" style="margin-top: 5%;">
                <div class="col">
    
                </div>
                <div class="col">            
                    <form class="new-item">
                        <div class="form-group">
                            <label for="category" >Category:</label>
                            <input id="category-name" name="category-name" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="item" >Item:</label>
                            <input id="item" name="item" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input id="quantity" name="quantity" type="integer" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="replenish">Minimum Quantity:</label>
                            <input id="replenish-flag" name="replenish-flag" type="iteger" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input id="price" name="price" type="float" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="supplier-name">Supplier:</label>
                            <input id="supplier-name" name="supplier-name" type="text" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm register">Add Item</button>
                        <a href="/" class="btn btn-primary btn-sm" alt="Back to main menu">Back to Main</a>
                    </form>
                </div>
                <div class="col">
    
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>