<div class="container">
    <div class="wrapper">
        <div class="row" style="margin-top: 5%;">
            <div class="col">

            </div>
            <div class="col">            
                <form class="register-user">
                    <div class="form-group">
                        <label for="user-name" >User Name:</label>
                        <input id="user-name" name="user-name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="user-email" >User email:</label>
                        <input id="user-email" name="user-email" type="email" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Create your password:</label>
                        <input id="password" name="password" type="password" class="form-control">
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
                    {{!-- Confirm password for later --}}
{{!--                     <div class="form-group">
                        <label for="confirm">Confirm your password:</label>
                        <input id="confirm" name="confirm" type="password" class="form-control">
                    </div> --}}
                    <button type="submit" class="btn btn-primary btn-sm register">Register</button>
                    <a href="/" class="btn btn-primary btn-sm" alt="Back to main menu">Back to Main</a>
                </form>
                <p>Ready to log in? click <a href="/login">here</a></p>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>
{{!-- Including Jquery and the signup.js file  --}} 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> --}}
  <script type="text/javascript" src="/js/signup.js"></script>