/* Wrappers */

* {
    margin: 0%;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    margin: 1%;
    padding: 1%;
    background-color: #ECF0F1;
    border-radius: 20px;
}

.container {
    margin-top: 5%;
}

.btn {
    background: blue;
    padding: 0.5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

a {
    color: darkblue;
}

a:hover {
    color: darkblue;
}


/* Footer */

footer {
    margin-top: 5%;
    padding: 3%;
    background-color: #ECF0F1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ShoppingLists */

.list-group-item {
    line-height: 2.5;
}

.notecomplete {
    color: red;
}